.travel {
  width: 100%;
  height: 560px;

  .container, .row {
    width: 100%;
    height: 100%;
  }

  &__planet {
    display: flex;
    flex-direction: column-reverse;
    height: 60%;
  }

  &__logo-link {
    position: absolute;
    box-sizing: border-box;
    width: 196px;
    padding: 10px 25px;
    color: #fff;
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    background: rgba(22, 21, 29, .5);
    border: 2px solid #263e66;

    &:hover {
      color: #3d3d3d;
      transition: all .2s ease;
    }

    .a {
      position: absolute;
      box-sizing: border-box;
      border: 2px solid #fff;
      width: 7px;
      height: 7px;
      transition: .3s;
    }

    .a2 {
      top: -2px;
      right: -2px;
      border-left: none;
      border-bottom: none;
    }

    .a4 {
      bottom: -2px;
      left: -2px;
      border-top: none;
      border-right: none;
    }

    &:hover .a {
      width: 15px;
      height: 15px;
      transition: all .2s ease;
    }
  }

  &__stock {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .stocks-prospect {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 78%;
      margin: -20px;
      background: none !important;

      .prospectus {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        margin: 10px;
      }

      h5 {
        font-family: OpenSans-Regular, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
      }

      .props-top {
        margin: 35px 0 30px 0;
      }

      .props-bottom {
        margin: 10px 0 35px 0;
      }

      p {
        font-family: OpenSans-Bold, sans-serif;
        font-size: 44px;
        font-weight: bold;
      }
    }

    div:nth-child(1) {
      background: linear-gradient(135deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .01) 100%);

      &:hover {
        cursor: pointer;
        transition: all .2s ease;
        background: linear-gradient(135deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .3) 100%);
      }
    }

    div:nth-child(2) {
      background: linear-gradient(225deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .01) 100%);

      &:hover {
        cursor: pointer;
        transition: all .2s ease;
        background: linear-gradient(225deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .3) 100%);
      }
    }

    div:nth-child(3) {
      background: linear-gradient(45deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .01) 100%);

      &:hover {
        cursor: pointer;
        transition: all .2s ease;
        background: linear-gradient(45deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .3) 100%);
      }
    }

    div:nth-child(4) {
      background: linear-gradient(315deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .01) 100%);

      &:hover {
        cursor: pointer;
        transition: all .2s ease;
        background: linear-gradient(315deg, rgba(255, 255, 255, .01) 60%, rgba(255, 255, 255, .3) 100%);
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
  .travel {
    &__stock {
      .stocks-prospect {
        .prospectus {
          width: 165px;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .travel {
    &__stock {
      .stocks-prospect {
        .prospectus {
          width: 120px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .travel {

    &__planet {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      height: 45%;
      margin-bottom: 90px;
    }

    &__stock {
      .stocks-prospect {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px;
        background: none !important;

        .prospectus {
          width: 24%;
          margin: 0;

          h5 {
            font-family: OpenSans-Regular, sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0;
          }

          p {
            font-size: 16px;
            margin: 15px 0;
          }
        }
      }

    }
  }

  .menu-toggle.open {
    right: 25%;
  }
}


